/* Desktop devices (991px and up) */
@media only screen and (min-width: 991px) {

    .col1 {
        width: 23%;
        float: left;
    }

    .col2 {
        width: 23%;
        float: left;
    }

    .col3 {
        width: 23%;
        float: left;
    }

    .col4 {
        width: 23%;
        float: left;
    }
}
